body {
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  background: #ededed;
  font-family:Roboto;
  min-height: 100vh;
}

.header {
    position: relative;
    height: 100px;
    background-color: #459ac4;
}

h1 {
    padding: 24px 0px 3px 0px;
    text-align: center;
    color: white;
}

.login {
    color: white;
    background: #459ac4;
    font-size: 15px;
    border-color: #459ac4;
    position: absolute;
    right: 0;
    top: 63px;
}

.logout {
    color: white;
    background: #459ac4;
    font-size: 15px;
    border-color: #459ac4;
    position: absolute;
    right: 0;
    top: 63px;
}

.logout:hover,
.login:hover{
    background-color: #1d78a5;
    border-color: #1d78a5;
}

.form-login {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.name {
    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;
}

.content {
    background-color: white;
    flex-grow: 1;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    width: 1140px;
    height: 100%;
    border: 2px solid #979a9c;
    border-radius: 0px;
}

.internal {
    padding: 70px 20px 20px 20px;
    height: inherit;
}

hr {
    padding: 0px 60px 0px 60px;
}

.block-create {
    margin-bottom: 20px;
    padding: 0px 60px 0px 0px;
    display: flex;
    justify-content:flex-end;
}

.btn-new-order {
    font-size: 17px;
    background-color: #f5f5f5;
    border-color: #437acb;
    color: #437acb;
}

.btn-new-order:hover{
    background-color: #0d6efd;
    border-color: #1d78a5;
}

.order-table {
    padding: 5px 60px 20px 60px;
}

.enter {
    padding: 3px 6px 3px 6px;
    font-size: 15px;
    margin-top: 6px;
    border-radius: 5px;
    border-color: #437acb;
    color: #437acb;
}

.table-auto {
    text-align: center;
}

.alert-success {
    text-align: center;
}

.card-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.block-create-order {
    margin: auto;
}

.create-order {
    border: 2px solid #979a9c;
    border-radius: 15px;
    width: 800px;
    height: 350px;
    background-color: white;
    margin: 0 auto;
    margin-top: 80px;
}

.back-main {
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 20px;
}

.for-link {
    display: flex;
    justify-content:flex-end;
}

.back-main:hover {
    color: red;
}

.cont-internal {
    padding: 20px 60px 20px 60px;
}

.auth-error-ms {
    color: black;
}

.footer {
    height: 50px;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding-top: 15px;
}
