{% extends 'app/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="header">
        <h1>Мониторинг заправки картриджей</h1>
        {% if user.is_authenticated %}
            <form action="{% url 'index:logout' %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary logout">Выйти из аккаунта</button>
            </form>
        {% else %}
            <form action="{% url 'index:login' %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary login">Войти</button>
            </form>
        {% endif %}
    </div>

    <div class="container content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-warning {% endif %}"
                     role="alert" style="text-align:center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="internal">
            <h2 class="name">Текущие заказы</h2>

            {% if user.is_authenticated %}
                <div class="md-3 text-right block-create">
                    <form action="{% url 'index:create-order' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-new-order">Добавить новый заказ</button>
                    </form>
                </div>
            {% endif %}

            <div class="order-table">
                <table class="table table-auto table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Отдел</th>
                        <th scope="col">Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.department}}</td>
                        {% if user.is_authenticated %}
                        <td>
                            <form action="{% url 'index:cartridges' %}" method="post" class="fm-sl">
                                {% csrf_token %}
                                <select name="status" class="form-select form-select-sm" aria-label=".form-select-sm">
                                    <option disabled selected="selected">{{order.get_status_display}}</option>
                                    <option value="1 {{order.id}}">В работе</option>
                                    <option value="2 {{order.id}}">Готов к выдаче</option>
                                    <option value="3 {{order.id}}">Выдан</option>
                                </select>
                                <input class="btn btn-outline-primary enter" type="submit" value="Подтвердить">
                            </form>
                        </td>
                        {% else %}
                            <td>{{order.get_status_display}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">

<!--       !!!!!! Добавить номера и номер кабинета (уточнить у Вована!!!! -->
        &copy; 2022 Все права защищены

    </div>
{% endblock %}
