<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="card-title text-center">Авторизация</h2>

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" style="text-align:center">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <form action="{% url 'index:login' %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.username.id_for_label }}" class="form-label">
                                    Имя пользователя:
                                </label>
                                {{ form.username }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.password.id_for_label }}" class="form-label">
                                    Пароль:
                                </label>
                                {{ form.password }}
                            </div>
                            <div class="md-3 text-center">
                                <button type="submit" class="btn btn-primary">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
